{%load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voltaire:Online educatoin consultancy-Log In</title>
    
    <link rel="Stylesheet" href="{% static 'CSS/login.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo-icon.jpg' %}"> 
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
<div class="navigation">
<!-- Start Navigation-1 -->
  <nav class="navigation-1">
    <div class="sign">
      <ul>
        <li id="title">Voltaire: Overseas Education Consultancy</li>
        <li><input id="search-bar" type="text" placeholder="Search.." name="search">
           <button id="search-button" type="submit"><ion-icon name="search-outline"></ion-icon></button></li>
           <li style="margin-right: -10px;">| <a href="/register" target="_blank">Register</a></li>
           <li><a href="/login" target="_blank">Log In</a></li>
        </ul>
    </div>
  </nav>
<!-- start Navigation 2-->
  <nav class="navigation-2">
    <a href="/home">
      <img src="{% static 'img/logo5.jpg' %}" id="logo" ><br>
    </a>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/destination">Study Destinations</a></li>
      <li><a href="/universities">Universities</a></li>
      <li><a href="/scholarship">Scholarships</a></li>
      <li><a href="/test">Test Prep</a></li>
    </ul>
  </nav>
</div>

<!-- Start GO to top -->
<button onclick="topFunction()" id="myBtn" title="Go to top"></button>






<!-- Start Body -->
<!-- Start Registration page -->
<div class="register">
    <div class="login">
        <form id="login" method="POST" action="login">
          {% csrf_token %}
            <h2>LOGIN</h2>
            
            <p style="color:rgb(252, 71, 71);">{{error_message}}</p>
            <input type="email" id="email" name="email" placeholder="Email/Username.."required><br>
            
            <input type="password" id="pass1" name = "pass1" placeholder="Password.."minlength="8" maxlength="16" required> <br>
            <input type="checkbox" id="check" required><label for="check">Remember me</label>
            <a id="Forget" href="retry.html" target="_blank">Forget Password ?</a>
            <br><br>
            <button type="submit" id="log" value="Log In">Login</button>
        </form>
    </div>
</div>





<!-- start Footer -->
<footer>
  <div class="main-footer">
  <!-- footerup-1 -->
    <div class="footerup-1">
      <h4 class="title">Voltaire</h4>
      <P><strong>Voltaire</strong> is a study abroad education consultancy with an online platform that allows students to apply to universities. We specializes in course advice, IELTS prep, pre-departure support, visa, accommodation, and health cover for students.<br><br> To avail of our services, you can register on our website. You will be assigned a counselor to help you through your study abroad journey.</P>
    </div>
  <!-- footerup-2 -->
    <div class="footerup-2">
      <h4 class="title">Quick Links</h4>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/appointment">Appoinments Booking</a></li>
          <li><a href="/destination">Study Destinations</a></li>
          <li><a href="/universities">Universities</a></li>
          <li><a href="/scholarship">Scholarships</a></li>
        </ul>
    </div>
  <!-- footerup-3 -->
  <div class="footerup-3">
    <h4 class="title">CONTACT US</h4>
      <p><strong>Voltaire Education Consultancy,</strong><br>
        Commercial Block-1, Zone 6,<br>
        Golf Course Road,<br>
        DLF City Phase-V,<br>
        Gurugram - 122009<br>
        Haryana, India<br>
        Phone: (+91) 9866403266<br>
        <a href="https://mail.google.com/" target="_blank">info@voltaire.in</a></p>
  </div>
  <!-- footerup-4 -->
    <div class="footerup-4">
      <h4 class="title">DON'T MISS OUT ON THE LATEST</h4>
      <form action="#" method="post">
        {% csrf_token %}
        <input id="test" type="email" placeholder="Your email address..." required>
        &nbsp;
        <button id="subscribe" onclick = "execute_function()" type="submit">SUBSCRIBE!</button>
      </form>
      <ul>
        <li><a href="https://www.facebook.com/VoltBiz" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="https://twitter.com/voltaquino?lang=en" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href="https://www.instagram.com/voltaireconsultants/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
        <li><a href="https://www.linkedin.com/company/voltaireconsultants/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>     
      </ul>
    </div>
  </div></footer><hr>
<!-- Footerdown -->
  <div class="footerdown"> 
    <p>Copyright © 2023 Voltaire Overseas Consultancy. All rights reserved. Published by Alpha Brand Media.</p>
  </div>
</footer>



<script>
// start Subscribe button
function execute_function(){
  if(document.getElementById("test").value.trim() != "") alert("Your Email has been registered!!!")
  else alert("Error: Please enter email")
  }



// start scroll to top button
let mybutton = document.getElementById("myBtn");
  // When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};
      
function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
    }
}   // When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
  }
</script>



</body>
</html>